<?xml version="1.0" encoding="iso-8859-1"?>

<!-- Config file for the game -->
<config>
  
  <name value="Game Dev 1 Config"/>
  
  <input>
    <num_keys value="352"/>
    <num_mouse_buttons value="5"/>
    <last_keys_pressed_buffer value="50"/>
  </input>

  <window>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <width value="1024"/>
    <height value="768"/>
    <scale value="1"/>
  </window>

  <renderer>
    
  </renderer>

  <textures>
    
  </textures>

  <audio>
    
  </audio>

  <scene>
    
  </scene>
</config>