<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
    <atlas file="gui/atlas.png"/>
    <objects>
      <obj x="485" y="829" w="328" h="103" size="1" type="2" posx="0" posy="0"/>
      <obj x="0" y="0" w="10" h="10" content="It's Alive!" size="1" type="1" posx="400" posy="400"/>
      <obj x="30" y="30" w="200" h="200" content="Test" size="1" type="3" posx="600" posy="200"/>     </objects>
  </gui>

  <map>
    <folder>maps/</folder>
  </map>

</config>